<h1>Flight Search</h1>
<form>
  <div>
    <label for="from">From:</label>
    <input [formField]="filterForm.from" id="from" />
  </div>
  <div>
    <label for="to">To:</label>
    <input [formField]="filterForm.to" id="to" />
  </div>
  <div>
    <button
      type="button"
      (click)="search()"
      [disabled]="!filter().from || !filter().to">
      Search
    </button>
  </div>
</form>

@if (!error() && flights().length > 0) {
  <div class="row">
    @for (flight of flights(); track flight.id) {
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <app-flight-card
          [item]="flight"
          [selected]="basket()[flight.id]"
          (selectedChange)="updateBasket(flight.id, $event)">

          <!-- Projected content -->
          <div>The flight #{{ flight.id }} might be delayed. Please check the monitors.</div>

          <p class="extra-detail">Full Id: LUGGAGE-0815-4711-{{ flight.id }}</p>
        </app-flight-card>
      </div>
    }
  </div>
}

<div>
  <label for="date">Max. Delay:</label>
<!--  <app-delay-stepper-->
<!--    [value]="maxDelay()"-->
<!--    (valueChange)="maxDelay.set($event)"-->
<!--  />-->
  <app-delay-stepper
    [(value)]="maxDelay"
  />
</div>

@if (error()) {
  <div>Error: {{ error() | json }}</div>
}

@if (isLoading()) {
  <div>Loading...</div>
}

<p>&nbsp;</p>

<div>
  Basket:
  <pre>{{ basket() | json }}</pre>
</div>

<p>&nbsp;</p>

<div>
  Selected flight:
  <pre>{{ selectedFlight() | json }}</pre>
</div>
