<app-validation-errors-pane
	[errors]="flightForm().errorSummary()"
	[showFieldNames]="true"
/>
<form [formRoot]="flightForm">
<fieldset>
	<legend>Flight</legend>
	<div class="form-group">
		<label for="flight-id">ID</label>
		<input
			id="flight-id"
			class="form-control"
			[formField]="flightForm.id"
			type="number"
		/>
		<app-validation-errors-pane [errors]="flightForm.id().errors()" />
	</div>
<!--	<div class="form-group">-->
<!--		<label for="flight-from">From</label>-->
<!--		<input-->
<!--			id="flight-from"-->
<!--			class="form-control"-->
<!--			[formField]="flightForm.from"-->
<!--		/>-->
<!--		@if (flightForm.from().invalid()) {-->
<!--		<div>{{ flightForm.from().errors() | json }}</div>-->
<!--		}-->
	@if (flightForm.delay().disabledReasons().length > 0) {
		@for (reason of flightForm.delay().disabledReasons(); track $index) {
		<p>Disabled because {{ reason.message }}</p>
		}
	}
<!--	</div>-->
	<div class="form-group">
		<label for="flight-from">From</label>
		<input [formField]="flightForm.from" id="flight-from" />
		<app-validation-errors-pane [errors]="flightForm.from().errors()" />
	</div>
	@if (flightForm.from().pending()) {
		<div>Waiting for Async Validation Result...</div>
	}
	<div>
		<label for="flight-to"> To </label>
		<input [formField]="flightForm.to" id="flight-to" />
		@if (flightForm.to().invalid()) {
			<div>{{ flightForm.to().errors() | json }}</div>
		}
	</div>

		@if (!flightForm.delay().hidden()) {
		<div class="form-group">
			<label for="flight-delay">Delay (min)</label>
			<input
				id="flight-delay"
				class="form-control"
				[formField]="flightForm.delay"
				type="number"
			/>
		</div>
		}
</fieldset>

	@if(flightForm().errorSummary().length){
		<p>
			{{ flightForm().errorSummary() | json }}
		</p>
	}
	<div>
		<button>Save</button>
		<button type="button" (click)="requestApproval()">Request Approval</button>
	</div>
</form>
