<app-validation-errors-pane
	[errors]="flightForm().errorSummary()"
	[showFieldNames]="true"
/>

<form [formRoot]="flightForm">
<fieldset>
	<legend>Flight</legend>
	<div class="form-group">
		<label for="flight-id">ID</label>
		<input
			id="flight-id"
			class="form-control"
			[formField]="flightForm.id"
			type="number"
		/>
		<app-validation-errors-pane [errors]="flightForm.id().errors()" />
	</div>
<!--	<div class="form-group">-->
<!--		<label for="flight-from">From</label>-->
<!--		<input-->
<!--			id="flight-from"-->
<!--			class="form-control"-->
<!--			[formField]="flightForm.from"-->
<!--		/>-->
<!--		@if (flightForm.from().invalid()) {-->
<!--		<div>{{ flightForm.from().errors() | json }}</div>-->
<!--		}-->
	@if (flightForm.delay().disabledReasons().length > 0) {
		@for (reason of flightForm.delay().disabledReasons(); track $index) {
		<p>Disabled because {{ reason.message }}</p>
		}
	}
<!--	</div>-->
	<div class="form-group">
		<label for="flight-from">From</label>
		<input [formField]="flightForm.from" id="flight-from" />
		<app-validation-errors-pane [errors]="flightForm.from().errors()" />
	</div>
	@if (flightForm.from().pending()) {
		<div>Waiting for Async Validation Result...</div>
	}
	<div>
		<label for="flight-to"> To </label>
		<input [formField]="flightForm.to" id="flight-to" />
		@if (flightForm.to().invalid()) {
			<div>{{ flightForm.to().errors() | json }}</div>
		}
	</div>

		@if (!flightForm.delay().hidden()) {
		<div class="form-group">
			<label for="flight-delay">Delay (min)</label>
			<input
				id="flight-delay"
				class="form-control"
				[formField]="flightForm.delay"
				type="number"
			/>
		</div>
		}
</fieldset>

	@let aircraftForm = flightForm.aircraft;

	<fieldset>
		<legend>Aircraft</legend>
		<div class="form-group">
			<label for="type">Type:</label>
			<input id="type" class="form-control" [formField]="aircraftForm.type" />
			<app-validation-errors-pane [errors]="aircraftForm.type().errors()" />
		</div>
		<div class="form-group">
			<label for="registration">Registration:</label>
			<input
				id="registration"
			class="form-control"
			[formField]="aircraftForm.registration"
			/>
			<app-validation-errors-pane
				[errors]="aircraftForm.registration().errors()"
			/>
		</div>
	</fieldset>

	@let pricesForm = flightForm.prices;

	<fieldset>
		<legend>Prices</legend>
		<app-validation-errors-pane [errors]="pricesForm().errors()" />
		<table class="datagrid">
			<tr>
				<th>Flight Class</th>
				<th>Amount</th>
				<th></th>
			</tr>
			@for (price of pricesForm; track $index) {
				<tr>
					<td>
						<input [formField]="price.flightClass" class="medium" />
					</td>
					<td>
						<input [formField]="price.amount" type="number" class="small" />
					</td>
					<td class="error-col">
						<app-validation-errors-pane
							[errors]="price().errorSummary()"
							[showFieldNames]="true"
						/>
					</td>
				</tr>
			}
		</table>
		<button (click)="addPrice()" type="button" class="btn btn-default ml3">
			Add
		</button>
	</fieldset>

	@if(flightForm().errorSummary().length){
		<p>
			{{ flightForm().errorSummary() | json }}
		</p>
	}
	<div>
		<button>Save</button>
		<button type="button" (click)="requestApproval()">Request Approval</button>
	</div>
</form>
